<? extend 'base/layout.html' ?>
<? block content ?>

<div class="pageheader notab">
    <h1 class="pagetitle">Dashboard</h1>
    <span class="pagedesc">Estad&iacute;sticas principales</span> 
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper lineheight21">
        
    <div class="contenttitle2">
        <h3>Work in progress</h3> 
    </div>
    <? if 'EDITOR' in auth.user_groups.values(): ?>
        <p>Datos relevantes para el editor</p>        
    <? else: ?>
        <p>Datos relevantes para el administrador</p>
    <? pass ?>
    <br />

</div><!--contentwrapper-->

<? end ?>
