<? extend 'login/login-layout.html' ?>
<? block scripts ?>
<? include 'login/ajax.html' ?>
<? end ?>

<? block content ?>
<body class="loginpage" ng-app="loginApp" ng-controller="loginController">
	<div class="loginbox">
    	<div class="loginboxinner">
        	
            <div class="logo">
            	<h1><span>MENSAJETA</span>MINAS</h1>
                <p><? =SUBTITLE ?></p>
            </div><!--logo-->
            
            <br clear="all" /><br />
            
            <div class="nousername">
                <div class="loginmsg" ng-model="error">{{ error }}</div>
            </div><!--nousername-->
                        
            <form id="login" ng-submit="processForm()">
            	
                <div class="username">
                	<div class="usernameinner">
                        <input type="text" placeholder="Usuario" ng-model="formData.username" />
                    </div>
                </div>
                
                <div class="password">
                	<div class="passwordinner">
                        <input type="password" placeholder="Contraseña" ng-model="formData.password" />
                    </div>
                </div>
                
                <button>Iniciar sesi&oacute;n</button>
                
            </form>
            
        </div><!--loginboxinner-->
    </div><!--loginbox-->
<? end ?>
