<script type="text/javascript">
function passwordController($scope, $http, $compile) {

    $scope.new_pass = '';
    $scope.new_confirm = '';

    $scope.changePassword = function() {
        jPass('Ingrese su contraseña actual', '', 'Cambiar contraseña', function(r1) {
            if (r1) {
                $http.post('<? =URL("init", "users", "api/json/check_password") ?>', {'password': r1 })
                    .success(function(data){
                        console.log(data);
                        if(data.data) {
                            changePassword();
                        }
                        else{
                            jAlert(data.error.message, 'Aviso');
                        }
                    });
            }
        });
    }

    function changePassword() {
        var title = 'Cambiar contraseña';
        jPass('Ingrese la nueva contraseña', '', title, function(c1) {
                if(c1) {
                    jPass('Repita la contraseña', '', title, function(c2){
                        if(c1 != c2) {
                            jAlert('Las contraseñas no coinciden.', 'Aviso');
                        }
                        else{
                            $http.post('<? =URL("init", "users", "api/json/change_password") ?>', {'password': c1 })
                                .success(function(data) {
                                    if(data.data) {
                                        jAlert('Se cambio la contraseña exitosamente.', 'Aviso');
                                    }
                                    else {
                                        jAlert(data.error.message, 'Aviso');
                                    }
                                });
                        }
                    });
                }
        });
    }

}
</script>
