<script type="text/javascript">
	///// CHANGE THEME /////
    jQuery(document).ready(function() {
        jQuery('.changetheme a').click(function(){
            var c = jQuery(this).attr('class');
            if(jQuery('#addonstyle').length == 0) {
                if(c != 'default') {
                    jQuery('head').append('<link id="addonstyle" rel="stylesheet" href="<? =URL("static", "css") ?>/style.'+c+'.css" type="text/css" />');
                }
            } else {
                if(c != 'default') {
                    jQuery('#addonstyle').attr('href','<? =URL("static", "css") ?>/style.'+c+'.css');
                } else {
                    jQuery('#addonstyle').remove();
                }
            }
        });
    });

    function themeController($scope, $http){

        $scope.updateTheme = function(theme) {

            var data = new Object();
            data.theme = theme;

            $http({
                method: 'POST',
                url: '<? =URL("init", "common", "api/json/change_theme")  ?>',
                data: data,
                headers : { 'Content-Type': 'application/json' }
            });

        }

    }
</script>
