<script type="text/javascript">
function passwordController($scope, $http, $compile) {

    $scope.changePassword = function() {
        var title = 'Cambiar contraseña'
        jPass('Ingrese su contraseña actual', '', title, function(r1) {
            if (r1) {
                jPass('Ingrese la contraseña nueva', '', title, function(r2) {
                    if(r2){
                        jPass('Confirme la nueva contraseña', '', title, function(r3){

                        });
                    }
                });
            }
        });
    }

}
</script>
