<div class="header">

    <ul class="headermenu">
        <? if 'ADMIN' in auth.user_groups.values() or 'EDITOR' in auth.user_groups.values(): ?>
            <li class="<? =MENU['dashboard'] ?>"><a href="<? =URL('init', 'default', 'index') ?>"><span class="icon icon-flatscreen"></span>Dashboard</a></li>
            <li class="<? =MENU['posts'] ?>"><a href="<? =URL('init', 'posts', 'index') ?>"><span class="icon icon-message"></span>Publicaciones</a></li>
        <? pass ?>
        <? if 'ADMIN' in auth.user_groups.values() or 'SUPPORT' in auth.user_groups.values(): ?>
            <li class="<? =MENU['customers'] ?>"><a href="<? =URL('init', 'customers', 'index') ?>"><span class="icon icon-pencil"></span>Clientes</a></li>
        <? pass ?>
        <? if 'ADMIN' in auth.user_groups.values(): ?>
            <li class="<? =MENU['reports'] ?>"><a href="<? =URL('init', 'reports', 'index') ?>"><span class="icon icon-chart"></span>Reportes</a></li>
            <li class="<? =MENU['users'] ?>"><a href="<? =URL('init', 'users', 'index') ?>"><span class="icon icon-user"></span>Usuarios</a></li>
        <? pass ?>
    </ul>
    
    <div class="headerwidget">
        <div class="earnings">
            <div class="one_half">
                <h4>Today's Earnings</h4>
                <h2>$640.01</h2>
            </div><!--one_half-->
            <div class="one_half last alignright">
                <h4>Current Rate</h4>
                <h2>53%</h2>
            </div><!--one_half last-->
        </div><!--earnings-->
    </div><!--headerwidget-->
    
</div><!--header-->
