<? 
body_class = ''
if SIDEBAR:
    body_class = 'withvernav'
pass
?>
<body class="<? =body_class ?>" ng-app>

<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">MENSAJETA<span>MINAS</span></h1>
            <span class="slogan"><? =SUBTITLE ?></span>
            
            <!--
            <div class="search">
                <form action="" method="post">
                    <input type="text" name="keyword" id="keyword" value="Enter keyword(s)" />
                    <button class="submitbutton"></button>
                </form>
            </div>
            -->
            <!--search-->
            
            <br clear="all" />
            
        </div><!--left-->
        
        <div class="right">
            <!--
            <div class="notification">
                <a class="count" href="ajax/notifications.html"><span>9</span></a>
            </div>
            -->
