<? extend 'base/layout.html' ?>
<? block content ?>

<div class="pageheader notab">
    <h1 class="pagetitle">Clientes</h1>
    <span class="pagedesc">P&aacute;gina de estado de los clientes</span>
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper lineheight21">

    <div class="contenttitle2">
        <h3>Work in progress</h3>
    </div>
    <? if 'SUPPORT' in auth.user_groups.values(): ?>
        <p>Sólo puedo solicitar bajas porque soy operador telefónico</p>
    <? else: ?>
        <p>Puedo hacer cualquier operación a los clientes</p>
    <? pass ?>
    <br />

</div><!--contentwrapper-->

<? end ?>
