<? extend 'base/layout.html' ?>
<? block scripts ?>
<script type="text/javascript" src="<? =URL('static', 'js/plugins/chosen.jquery.min.js') ?>"></script>
<script type="text/javascript" src="<? =URL('static', 'js/plugins/jquery.uniform.min.js') ?>"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('input:checkbox, input:radio, select.uniformselect, input:file').uniform();
        jQuery('#notification').hide();
    });
</script>
<? include 'customers/ajax_customers.html' ?>
<? end ?>

<? block content ?>

    <div class="vernav">
        <ul>
            <li><a href="<? =URL('init', 'customers', 'index') ?>" class="inbox">Alta a clientes</a></li>
            <li class="current"><a href="<? =URL('init', 'customers', 'unsubscribe') ?>" >Baja a clientes</a></li>
        </ul>
        <a class="togglemenu"></a>
        <br /><br />
    </div><!--leftmenu-->

<? end ?>
